/*
 * Web Fonts from yellowdesignstudio.com
 * 
 * All OpenType features and all extended glyphs have been removed.
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Yellow Design Studio. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 */

@font-face {
    font-family: 'Veneer Two';
    src: url('VeneerTwo.woff2') format('woff2'),
        url('VeneerTwo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

