
<!--This page manages the content information features of the home page-->
	<div class="title"   >{{title}} </div>
	<div class="flex-container">
	
		    <a class=" menu-button btn-lg"  [routerLink]="['/me']" routerLinkActive="active"> Who is this guy?</a>
	      <a [routerLink]="['/skill']" class="menu-button btn-lg" >What can he do?</a>
		  </div>
		  <div class="display-contact">
	      <div class='contact'>
	       {{name}} <br>
	       {{address}} <br>
	       {{phone}}<br>
	       <div class="icon-bar">
	       <a href="https://github.com/wlawlerpro"><i class="fa fa-github"></i></a>
	       <a href="https://www.linkedin.com/in/wes-lawler-a1a4a85a/"><i class="fa fa-linkedin"></i></a>
	       <a href="https://weslawler.com/"><i class="fa fa-folder-open"></i></a>      
	    
		  </div>
		   </div>
		 </div>
	   